@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header {
    margin: 0;
}


/* ----------------------------- Navbar */

.navbar-custom {
    padding: 30px 150px 30px 150px;
}

.navbar-text {
    color: blue;
}

#logo {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 20pt;
    color: #8f6f4d;
}

/* ----------------------------- Hero-image */

.hero-image
{
    background: url("../img/hero-image.jpg");   
    /* Photo by Chevanon Photography from Pexels - 
    https://www.pexels.com/photo/close-up-of-hand-holding-cappuccino-302901/*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    position: relative;
}

.hero-text {
    color: white;
    position: absolute;
    top: 200px;
    bottom: 165px;
    left: 150px;
}

#hero-h1{
    letter-spacing: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 40px
}

#hero-h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
}

.btn .btn-light {
    font-family: 'Roboto';
}

#hero-button {
    font-weight: 700;
    color: white;
    background-color: #8f6f4d;
    height: 50px;
    width: 140px;
}

/* ----------------------------- Coffee to Go section */

.section {
    padding: 60px 0;
}

.h2-heading-style { /* Apply across all H2s */
    font-family: 'Roboto Slab', serif;
    padding: 0 0 25px 0; 
}

.paragraph-style { /* Apply across all paragraphs */
    font-family: 'Roboto', sans-serif;
    padding: 0;
}


/* ----------------------------- Four icon section */


    /* Resource: Bootstrap Stacked to Horizontal layout - https://getbootstrap.com/docs/4.5/layout/grid/#stacked-to-horizontal */

.icon {
    color: #fafafa;
    background-color: #8f6f4d;
    border-radius: 100px;
    font-size: 50px;
    padding: 30px;
    margin: 25px 0 0 0;     
}

.four-icon-text {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}

    /* Resource: CI course & Chrome Developer tools to align icons side-by-side -
    https://courses.codeinstitute.net/courses/course-v1:codeinstitute+FE+2017_T3/courseware/616289d66b5641a3808cc43e53842695/f99dac3afcfe4b2caf8d576273aea3e6/ */

.list-inline-item:not(:last-child) { /* Chrome Developer tools class */
    margin: 0;
}

.menucontainer {
    font-size: 0;
}


/* ----------------------------- Bean Points section */

.bean-points {
    padding: 100px 0 0 0;
}