@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ----------------------------- General */
header {
    margin: 0;
}

body {
    line-height: 30px;
}

h2 {
    color: #695138;
    font-family: 'Roboto Slab', serif;
    padding: 0 0 10px 0; 
    position: relative;
}

/* Reference: Customer css underline https://www.youtube.com/watch?v=H6zj35zjKV0 */
h2::after {
    content:'';
    height: 3px;
    width: 45px;
    background: #695138;;
    position: absolute;
    left: 0;
    bottom: 0;
}

.colour-section {
    background-color: rgba(143, 111, 77, 0.05); 
}

.my-section {
    padding: 80px 0;
}

p, li { 
    font-family: 'Roboto', sans-serif;
    color: #444444;
}

.small-icons {
    color: #8f6f4d;
}


/* ----------------------------- Navbar */

.navbar-custom {
    padding: 30px 0 30px 0;
}

#logo {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 20pt;
    color: #8f6f4d;
}

.hamburger-button {
    margin: 0 10px;
}


/* ----------------------------- Hero-image */

.hero-image {
    background: url("../img/hero-image.jpg");   
    /* Photo by Chevanon Photography from Pexels - 
    https://www.pexels.com/photo/close-up-of-hand-holding-cappuccino-302901/*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 200px;
    bottom: 165px;
}

#hero-h1{
    letter-spacing: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 40px;
    color: #fafafa;
}

#hero-h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    color: #fafafa;
}

.btn .btn-light {
   font-family: 'Roboto', sans-serif;
}

#hero-button {
    font-weight: 500;
    color: #fafafa;
    background-color: #8f6f4d;
    height: 55px;
    width: 145px;
    font-size: 25px;
}

/* ----------------------------- Four icon section */


    /* Resource: Bootstrap Stacked to Horizontal layout - https://getbootstrap.com/docs/4.5/layout/grid/#stacked-to-horizontal */

.my-icon {
    color: #fafafa;
    background-color: #8f6f4d;
    border-radius: 100px;
    font-size: 50px;
    padding: 30px;
    margin-top: 50px;
}

.four-icons { 
    text-align: center;
    margin: 0 auto;
}

    /* Resource: CI course & Chrome Developer tools to align icons side-by-side -
    https://courses.codeinstitute.net/courses/course-v1:codeinstitute+FE+2017_T3/courseware/616289d66b5641a3808cc43e53842695/f99dac3afcfe4b2caf8d576273aea3e6/ */


/* ----------------------------- About section */

.column img {
    padding-bottom: 30px;
}

/* ----------------------------- Form section */

.form-section {
    /*background-color: #8f6f4d; */
    background-color: rgba(143, 111, 77, 1)
}

.contact-details {
    padding-right: 40px; 
}

.form-text {
    color: #fafafa;
}

.form-heading, .contact-icon {
    font-weight: 300;
    color: #fafafa;
    font-weight: 400;
}

.form-heading {
    padding: 5px 0;
    font-family: 'Roboto', sans-serif;
}

.form-button {
    margin-top: 20px;
    font-weight: 700;
    color: #8f6f4d;
    background-color: #fafafa;
    height: 55px;
    width: 145px;
    border: none;
}

.btn-form:hover { /* Resource: https://stackoverflow.com/questions/25923623/change-hover-color-on-a-button-with-bootstrap-customization */
    background-color: #695138;
}


/* ----------------------------- Media Queries */


@media screen and (max-width: 600px) {
    #hero-h2, #hero-h1, #hero-button {
        display: none; 
    }

@media screen and (max-width: 600px) {
    #logo {
        padding-left: 10px;
    }


/* Reference: https://stackoverflow.com/questions/35558567/hiding-text-on-small-viewports-using-span-class-and-media-queries */

/* @media screen and (max-width: 00px){
    .left_bottom{
        float: left;
        width: 100%;
    }
    .right_top{
        float: left;
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: row-reverse;
    } 
} https://stackoverflow.com/questions/33082796/how-to-reverse-the-order-of-elements-in-media-queries */ 