@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ---------------------------------------------------------- General */
header {
    margin: 0;
}

body {
    line-height: 30px;
}

h2 {
    color: #695138;
    font-family: 'Roboto Slab', serif;
    padding: 0 0 10px 0; 
    position: relative;
}

/* Reference: Customer css underline https://www.youtube.com/watch?v=H6zj35zjKV0 */
h2::after {
    content:'';
    height: 3px;
    width: 45px;
    background: #695138;
    position: absolute;
    left: 0;
    bottom: 0;
}

.background-colour {
    background-color: rgba(143, 111, 77, 0.05); 
}

.my-section {
    padding: 80px 0;
}

p, li, .contact-form-text{ 
    font-family: 'Roboto', sans-serif;
    color: #444444;
}

.fontawesome-icons {
    color: #8f6f4d;
}


/* ---------------------------------------------------------- Navbar */

#logo {
    width: 300px;
}

.navbar-custom {
    padding: 30px 60px 30px 60px;
}

.hamburger-button {
    margin: 0 10px;
}

/* Resource: How to override Bootstrap nav styling https://stackoverflow.com/questions/38548629/overriding-bootstrap-to-change-color-of-navbar-links */
.nav-link {
    color: #695138 !important;
}

.navbar-nav .nav-link {
    padding-left: 20px;
}

/* ---------------------------------------------------------- Hero-image */

.hero-image {
    /* Photo by Chevanon Photography from Pexels - 
    https://www.pexels.com/photo/close-up-of-hand-holding-cappuccino-302901/ */
    background: url("../img/hero-image.jpg");   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 200px;
    bottom: 165px;
}

#hero-h1{
    letter-spacing: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 40px;
    color: #fafafa;
}

#hero-h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    color: #fafafa;
}

.btn .btn-light {
   font-family: 'Roboto', sans-serif;
}

#hero-button {
    font-weight: 500;
    color: #fafafa;
    background-color: #8f6f4d;
    height: 55px;
    width: 145px;
    font-size: 20px;
}

#hero-button:hover {
    color: #8f6f4d;
    background-color: #fafafa;
}

/* ---------------------------------------------------------- Four icon section */


    /* Resource: Bootstrap Stacked to Horizontal layout - https://getbootstrap.com/docs/4.5/layout/grid/#stacked-to-horizontal */

     /* Resource: CI course & Chrome Developer tools to align icons side-by-side -
    https://courses.codeinstitute.net/courses/course-v1:codeinstitute+FE+2017_T3/courseware/616289d66b5641a3808cc43e53842695/f99dac3afcfe4b2caf8d576273aea3e6/ */

.my-icon {
    color: #fafafa;
    background-color: #8f6f4d;
    border-radius: 50%;
    font-size: 50px;
    padding: 30px;
    margin-top: 50px;
    height: 7rem;
    width: 7rem;
}

.four-icons { 
    text-align: center;
    margin: 0 auto;
}

    /* Resource: Zoom on hover https://www.w3schools.com/howto/howto_css_zoom_hover.asp */

.zoom {
  transition: transform .5s; 
  width: 20%;
  height: 20%;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2); 
}


/* ---------------------------------------------------------- About section */

.column img {
    padding-bottom: 30px;
}

/* ---------------------------------------------------------- Form section */

.form-section {
    background-color: rgba(143, 111, 77, 0.3);
}

.contact-form-text {
    padding: 10px 0 10px 0;
    font-weight: 500;
}

.contact-email, .contact-number {
    font-weight: 300px;
    padding: 0 30px 0 0;
    color: #444444;
}


    /* Resource: Remove blue styling from email link https://www.codegrepper.com/code-examples/html/css+remove+blue+hyperlink+styling */
a {color: inherit}; 

.form-button {
    font-weight: 500;
    color: #fafafa;
    background-color: #8f6f4d;
    height: 55px;
    width: 145px;
    font-size: 20px;
} 

.btn-form:hover { /* Resource: https://stackoverflow.com/questions/25923623/change-hover-color-on-a-button-with-bootstrap-customization */
    background-color: #8f6f4d;
    color: #fafafa;
}

/* ---------------------------------------------------------- Footer */


footer {
    background-color: #8f6f4d;
}

footer .fontawesome-icons {
    color: white;
    padding: 0 30px 0 0;
}

.footer {
    padding-top: 60px;
    line-height: 50px;
    color: #fafafa;
    min-height: 400px;
    font-size: 15px;
}

.address {
    padding-left: 47px;
    line-height: 20px;
}

footer .contact-number, footer .contact-email {
    color: white;
}

.social-icon {
    font-size: 40px;
    padding: 15px 30px 0 0;
}

.contact-footer {
    line-height: 40px;
}


/* ---------------------------------------------------------- Media Queries */

/* General */

@media screen and (max-width: 600px){
    .my-section {
        padding: 30px 10px 0 10px;
    }
}

/* Navbar */
@media screen and (max-width: 600px) {
    #logo {
        width: 200px;
        padding: 0 0 0 20px;
    }
}

/* Hero image */

@media screen and (max-width: 600px) {
    #hero-h2, #hero-button {
        display: none; 
    }
}

    /* Resource: Style inspiration for mobile nav from https://haddingtonhouse.ie/ */
@media screen and (max-width: 600px) {
    #hero-h1 {
        padding: 350px 0 0 0;
        font-size: 25px;
    }
}

/* Footer */



@media screen and (max-width: 600px) {
    .follow-us {
    padding-top: 40px;
    }
}



/* Reference: https://stackoverflow.com/questions/35558567/hiding-text-on-small-viewports-using-span-class-and-media-queries */

/* @media screen and (max-width: 00px){
    .left_bottom{
        float: left;
        width: 100%;
    }
    .right_top{
        float: left;
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: row-reverse;
    } 
} https://stackoverflow.com/questions/33082796/how-to-reverse-the-order-of-elements-in-media-queries */ 